{% extends "base.html" %}

{% block title %}
| Principal
{% endblock %}

{% block content %}

<section class="hero" id="topo">
    <div class="elemento-sobreposicao"></div>
    <div>
        <img src="{{ url_for('static', filename='images/logo/logo.png') }}" alt="Logo na capa">
    </div>
    <div class="icone-seta">
        <a href="#conteudo">
            <span class="material-symbols-outlined">
                south
            </span>
        </a>
    </div>
</section>

<section class="conteudo" id="conteudo">
    <div class="contador-historia">
        <p>
            Coleção eric.png
        </p>
    </div>
</section>
<section class="section-vitrine">
    <div class="ver-mais">
        <div class="vitrine">
            {% for image in images %}
            <div class="imagem">
                <img src="{{ url_for('static', filename='images/' + image) }}" alt="fotografia">
                <div class="sobreposicao-imagem">
                    <h4>Sem categoria</h4>
                    <p>
                        Grade de fotos sendo testada.
                    </p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <button class="ver-mais-btn" onclick="expandirVitrine()">
        <span>Ver mais</span>
        <div class="linha-preta"></div>
    </button>
</section>


{% endblock %}